*.sqlite
*.sqlite3
*.db
*.db3
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
*.db-journal
*.db-wal
*.db-shm
*.log
*.bak
*.backup
*.tmp
*.temp
*.cache

*.agents
*.codex
*.vscode

vendor
composer.lock